<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Gym Management System</title>
    <style>
       #logoutBtn{
        padding:5px;
        cursor:pointer;
        margin-left: 70px;
       }
    </style>
</head>
<body>
    <div class="sidebar">
        <header class="header">
            Gym Management System
        </header>
        <nav class="nav-menu">
            <p><a href="addmember.html">Add Member</a></p>
            <p><a href="updatemember.html">Update Member</a></p>
            <p><a href="viewallmember.html">View All Members</a></p>
            <p><a href="addattendance.html">Add Attendance</a></p>
            <p><a href="viewactivemembers.html">View Active Members</a></p>
            <p><a href="viewinactivemembers.html">View Inactive Members</a></p>
            <p><a href="extendmembership.html">Extend Membership</a></p>
            <p><a href="cancelmembership.html">Cancel Membership</a></p>
            <p><a href="viewdailyattendance.html">View Daily Attendance</a></p>
            <p><a href="viewweeklyattendance.html">View Weekly Attendance</a></p>
            <p><a href="deletebyid.html">Delete member</a></p>
            
        </nav>
        <a href="login.html"><button id="logoutBtn">Logout</button></a>
    </div>
    <div>
        
    </div>
    <script src="../JS/sessionStorage.js">
    </script>
</body>
</html>
